@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
<p class="mb-4 tm-intro-text">
    Trabalho desenvolvido pelos alunos:
    
</p>
<table class="table table-responsive table-striped">
    <tr>
        <th>Nome</th>
        <th>RA</th>
        <th>Areas que atuou neste trabalho</th>
    </tr>
    <tr>
        <td>Johnny Messias Paulino</td>
        <td>082190027</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Larissa Dias de Souza</td>
        <td>081190021</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Letícia Ramos</td>
        <td>082190006</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Lucas Pires Savassa</td>
        <td>082190035</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Sabrina Jesus de Souza</td>
        <td>082190009</td>
        <td>...</td>
    </tr>
</table>
</div>