


<div class="container-fluid">

    <iframe src="https://freeboard.io/board/R-iqhQ" width="1600" height="800"></iframe>


</div>

<p>
    
    Atualizado automaticamente a cada 10 segundos
    Última atualização completa desta página:
    @DateTime.Now.ToString("HH:mm:ss")
</p>
